title = "Collapsible Accordions"
url = "/collapsible_accordions"
layout = "default"
description = "Accordians extended"
meta_title = "Accordians Extended"
is_hidden = 0
==


				<h4>Collapsible</h4>

			    <div data-role="collapsible" data-inset="false">
		            <h4>Collapsible Listview</h4>
		            <ul data-role="listview">
		                <li><a href="#">Lorem ipsum dolor</a></li>
		                <li><a href="#">sit amet</a></li>
		                <li><a href="#">consectetur adipisicing</a></li>
		                <li><a href="#">elit sed do eiusmod</a></li>
		                <li><a href="#">tempor incididunt.</a></li>
		            </ul>
		        </div>

			    <div data-role="collapsible" data-inset="false">
		            <h4>Collapsible Content</h4>
					<div>
						<h4>Wow, thats cool.</h4>
						<p>Im a collapsible content.</p>
					</div>
		        </div>

		        <hr />

				<h4>Accordions</h4>

		        <div data-role="collapsible-set" data-inset="false">
		            <div data-role="collapsible">
		                <h3>Content</h3>
						<div class='inset'>
							<h4>Wow, thats cool.</h4>
						</div>
		            </div>
		            <div data-role="collapsible">
		                <h3>Listview</h3>
		                <div>
			                <ul data-role="listview">
			                    <li>Cats</li>
			                    <li>Dogs</li>
			                    <li>Lizards</li>
			                    <li>Snakes</li>
			                </ul>
		                </div>
		            </div>
		        </div>
