title = "Popups"
url = "/dialog_popups"
layout = "default"
description = "Dialouge extended"
meta_title = "Dialouge Extended"
is_hidden = 0
==


	     	<h2>Popup Dialog</h2>
            <a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop"><i class='lIcon fa fa-external-link'></i> Open popup dialog</a>

           <div data-role="popup" id="popupDialog">

                <div data-role="header">
                	<h1 class='nd-title'>Delete from library?</h1>
            	</div>

                <div data-role="content">
                    <p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p>
                    <a href="dialog/index.html" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i class='zmdi zmdi-check'></i> Sounds good</a>
                    <a href="dialog/index.html" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i class='zmdi zmdi-cancel'></i> Cancel</a>

                </div>
            </div>
