title = "Grids"
url = "/grid"
layout = "default"
description = "Flexbox"
meta_title = "Flexbox"
is_hidden = 0
==



            <h5 class="nd2-headline">Simple Flexbox Grid System</h5>
			<p>
				Alternative to the Grid System of jQueryMobile nativeDroid II included the popular and easy to learn, modern css flexbox Grid System from <a href="http://flexboxgrid.com">flexboxgrid.com</a>.
			</p>
			<p>
				The syntax is almost identical to Twitter Bootstrap's Grid System with the benefits of css flexbox.
			</p>
			<p>
				For more Information we refer to its <a href="http://flexboxgrid.com/">official Documentation</a>.
			</p>
