title = "Header-Footer"
url = "/header_footer"
layout = "default"
description = "Header-Footer extended"
meta_title = "Header-Footer Extended"
is_hidden = 0
==


				<h4>Header Example</h4>
				<p>See an animated example on the top. You can simply remove the WOW.js-Tags to avoid animation.</p>

				<h4>Footer Example</h4>
				<p>See bottom :-)</p>

				<h4>Extra: bottom-sheet</h4>
				<p>Click the top-right-corner</p>
