title = "List Views"
url = "/listviews"
layout = "default"
description = "ListViews extended"
meta_title = "ListViews Extended"
is_hidden = 0
==


			<ul data-role="listview" data-icon="false">
				<li data-role="list-divider">
					Friends
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/1/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Ethel Chancy</h2>
						<p>ehtel.chancy@example.com</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/2/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Lorean Gainer</h2>
						<p>lorean87@mail.com</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/3/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Juliet Gieseke</h2>
						<p>flowerpower69@rainbow.com</p>
					</a>
				</li>
			</ul>

			<hr />

			<ul data-role="listview" data-icon="false">
				<li data-role="list-divider">
					Work
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/6/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Gale Cecil</h2>
						<p>gale.cecil@company.com</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/5/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Bernard Desrosier</h2>
						<p>bernhard.desrosier@company.com</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/7/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Emerita Scholl</h2>
						<p>emerita.scholl@company.com</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/8/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Elmer Eyer</h2>
						<p>elmer.eyer@company.com</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/9/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Shona Mckibben</h2>
						<p>shona.mckibben@company.com</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//lorempixel.com/150/150/people/10/" class="ui-thumbnail ui-thumbnail-circular" />
						<h2>Hilma Mercer</h2>
						<p>hilma.mercer@company.com</p>
					</a>
				</li>
			</ul>

			<hr />

			<ul data-role="listview" data-icon="false">
				<li data-role="list-divider">
					Simple List
				</li>
				<li>alpha</li>
				<li>beta</li>
				<li>gamma</li>
				<li>delta</li>
				<li>epsilon</li>
				<li>zeta</li>
			</ul>

			<hr />

			<ol data-role="listview" data-icon="false">
				<li data-role="list-divider">
					Ordered List
				</li>
				<li>alpha</li>
				<li>beta</li>
				<li>gamma</li>
				<li>delta</li>
				<li>epsilon</li>
				<li>zeta</li>
			</ol>

			<hr />

			<ul data-role="listview" data-icon="false">
				<li data-role="list-divider">
					Linked List
				</li>
				<li><a href="#">Banana</a></li>
				<li><a href="#">Blackberry</a></li>
				<li><a href="#">Tomato</a></li>
				<li><a href="#">Apple</a></li>
			</ul>

			<hr />

			<ul data-role="listview" data-icon="false" data-autodividers="true">
				<li><a href="#">Apple</a></li>
				<li><a href="#">Banana</a></li>
				<li><a href="#">Blackberry</a></li>
				<li><a href="#">Tomato</a></li>
			</ul>
