title = "Tables"
url = "/tables"
layout = "default"
description = "Tabels extended"
meta_title = "tabels Extended"
is_hidden = 0
==


           <table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
              <thead>
                <tr>
                  <th data-priority="2">Rank</th>
                  <th>Movie Title</th>
                  <th data-priority="3">Year</th>
                  <th data-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
                  <th data-priority="5">Reviews</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="http://en.wikipedia.org/wiki/Citizen_Kane" data-rel="external">Citizen Kane</a></td>
                  <td>1941</td>
                  <td>100%</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Casablanca</td>
                  <td>1942</td>
                  <td>97%</td>
                  <td>64</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="http://en.wikipedia.org/wiki/The_Godfather" data-rel="external">The Godfather</a></td>
                  <td>1972</td>
                  <td>97%</td>
                  <td>87</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><a href="http://en.wikipedia.org/wiki/Gone_with_the_Wind_(film)" data-rel="external">Gone with the Wind</a></td>
                  <td>1939</td>
                  <td>96%</td>
                  <td>87</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><a href="http://en.wikipedia.org/wiki/Lawrence_of_Arabia_(film)" data-rel="external">Lawrence of Arabia</a></td>
                  <td>1962</td>
                  <td>94%</td>
                  <td>87</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><a href="http://en.wikipedia.org/wiki/Dr._Strangelove" data-rel="external">Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb</a></td>
                  <td>1964</td>
                  <td>92%</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><a href="http://en.wikipedia.org/wiki/The_Graduate" data-rel="external">The Graduate</a></td>
                  <td>1967</td>
                  <td>91%</td>
                  <td>122</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><a href="http://en.wikipedia.org/wiki/The_Wizard_of_Oz_(1939_film)" data-rel="external">The Wizard of Oz</a></td>
                  <td>1939</td>
                  <td>90%</td>
                  <td>72</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><a href="http://en.wikipedia.org/wiki/Singin%27_in_the_Rain" data-rel="external">Singin' in the Rain</a></td>
                  <td>1952</td>
                  <td>89%</td>
                  <td>85</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td class="title"><a href="http://en.wikipedia.org/wiki/Inception" data-rel="external">Inception</a></td>
                  <td>2010</td>
                  <td>84%</td>
                  <td>78</td>
                </tr>
              </tbody>
            </table>
