title = "Text"
url = "/text"
layout = "default"
description = "Text extended"
meta_title = "text Extended"
is_hidden = 0
==


			<h4>General Header (H1 - H6)</h4>

            <h1>Regular 56px / 400 / &lt;h1&gt;</h1>
            <h2>Regular 34px / 400 / &lt;h2&gt;</h2>
            <h3>Regular 24px / 400 / &lt;h3&gt;</h3>
            <h4>Medium 2sp / 500 / &lt;h4&gt;</h4>
            <h5>Regular 16px / 400 / &lt;h5&gt;</h5>
            <h6>Regular 14px / 400 / &lt;h6&gt;</h6>

            <hr />

			<h4>Display / Header / Title Sizes</h4>

            <h1 class="nd2-display-4">
            	Light 112px
	            <span class="nd2-subhead">.nd2-display-4</span>
        	</h1>

            <h2 class="nd2-display-3">
            	Regular 56px
	            <span class="nd2-subhead">.nd2-display-3</span>
        	</h2>

            <h3 class="nd2-display-2">
            	Regular 45px
	            <span class="nd2-subhead">.nd2-display-2</span>
        	</h3>

            <h4 class="nd2-display-1">
            	Regular 34px
	            <span class="nd2-subhead">.nd2-display-1</span>
        	</h4>

            <h5 class="nd2-headline">
            	Regular 24px
	            <span class="nd2-subhead">.nd2-headline</span>
        	</h5>

            <h6 class="nd2-title">
            	Medium 2p
	            <span class="nd2-subhead">.nd2-title</span>
        	</h6>

            <h6 class="nd2-subhead">
            	Regular 16px
	            <span class="nd2-subhead">.nd2-subhead</span>
        	</h6>

            <hr />

				<h4>Text Paragraph / Regular 400 / 16px</h4>

				<div class='row'>

					<div class='col-xs-12 col-md-6'>
						<div class='box'>
							<p>
								Typography is the art and technique of arranging type to make written language readable and appealing. The arrangement of type involves selecting typefaces, point size, line length, line-spacing (leading), letter-spacing (tracking), and adjusting the space within letters pairs (kerning). Type design is a closely related craft, sometimes considered part of typography; most typographers do not design typefaces, and some type designers do not consider themselves typographers. In modern times, typography has been put in film, television and online broadcasts to add emotion to communication.
								<br />(Source: <a href="http://www.wikipedia.org">Wikipedia</a>)
							</p>
						</div>
					</div>

					<div class='col-xs-12 col-md-6'>
						<div class='box'>
							<blockquote>
								<p>You know the golden rule, don't you boy? Those who have the gold make the rules.</p>
								<footer>Crazy hunch-backed old guy from the movie Aladdin</footer>
							</blockquote>
						</div>
					</div>

				</div>
