<div data-role="footer" data-position="fixed">

  <div class="row center-xs">
    <div class="col-xs-4">
      <div class="box">
        <a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-edit'></i> edit</a>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="box">
        <a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-plus'></i> add</a>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="box">
        <a href="#" class="ui-btn ui-mini nd2-btn-icon-block"><i class='zmdi zmdi-minus'></i> remove</a>
      </div>
    </div>
  </div>


</div>
