<div data-role="header" data-position="fixed" class="wow fadeInDown" data-wow-delay="0.2s">
	<a href="#bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s'><i class="zmdi zmdi-more-vert"></i></a>
	<a href="#leftpanel" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="zmdi zmdi-menu"></i></a>
	<h1 class="wow fadeIn" data-wow-delay='0.4s'>Page Title</h1>
</div>
