title = "Creditss"
url = "/credits"
layout = "default"
description = "Credits"
meta_title = "Credits"
is_hidden = 0
==

				<h4>License</h4>
				<p>nativeDroid2 is distributed under the <a href="/LICENSE">MIT-License</a></p>

				<hr />

				<h4>Components</h4>
				<p>nativeDroid2 benefits from the following external libraries:</p>
				<p>
					<a href="http://fortawesome.github.io/">fontawesome (v4.3.0)</a><br />
					Webfont icons licensed under <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>
				</p>
				<p>
					<a href="https://jquerymobile.com/">jQueryMobile (v1.4.5)</a>
				</p>
				<p>
					<a href="https://github.com/fians/Waves">Waves</a><br />
					Nice ripple-effect created by <a href="http://fian.my.id/">Alfiana Sibuea</a> and released under <a href="https://github.com/fians/Waves/blob/master/LICENSE">MIT license</a>.
				</p>
				<p>
					<a href="http://flexboxgrid.com/">flexboxgrid</a><br />
					Grid System by Kristofer Joseph licensed under the <a href="https://github.com/kristoferjoseph/flexboxgrid/blob/master/LICENSE">Apache License, Version 2.0</a>.
				</p>
				<p>
					<a href="https://github.com/zavoloklom/material-design-iconic-font">material-design-iconic-font</a><br />
					Wonderful Material Design Iconset - <a href="http://zavoloklom.github.io/material-design-iconic-font/license.html">License Detail</a>
				</p>
				<p>
					<a href="https://github.com/matthieua/WOW">wow.js</a>
				</p>
				<p>
					<a href="https://github.com/daneden/animate.css">animate.css</a><br />
					Animate.css is licensed under the <a href="http://opensource.org/licenses/MIT">MIT license</a>.
				</p>
