title = "Bottomsheet"
url = "/bottomsheet"
layout = "default"
description = "Bottomsheet extended"
meta_title = "Bottomsheet Extended"
is_hidden = 0
==


				<span class="nd2-title">What is a Bottom Sheet?</span>
				<p>Bottom Sheets are like panels. But instead of coming from the left or the right they appear from the bottom.</p>

				<span class="nd2-title">Two different types</span>
				<p>A bottom Sheet can be presented as a list (items are displayed in rows) or as blocks (items are displayed in floated square-blocks)</p>

				<hr />

				<nd2-ad data-banner="sample.banner"></nd2-ad>

				<span class="nd2-title">Demonstration</span>
				<p>
					<a href="#bottomsheetlist" class="ui-btn clr-btn-accent-blue ui-btn-inline"><i class='zmdi zmdi-view-list'></i> open as a list</a>
					<a href="#bottomsheetblock" class="ui-btn clr-btn-accent-green ui-btn-inline"><i class='zmdi zmdi-view-module'></i> open as blocks</a>
				</p>

				<nd2-ad data-banner="textlinks.banner"></nd2-ad>

				<span class="nd2-title">Sample-Code</span>
				<br />
				<span class="nd2-subhead">Default list item as blocks:</span>
				<pre>&lt;div data-role="panel" id="bottomsheetblock" <strong>class="ui-bottom-sheet"</strong> data-animate="false" data-position='bottom' data-display="overlay"&gt;...&lt;/div&gt;</pre>

				<span class="nd2-subhead">List item as list:</span>
				<pre>&lt;div data-role="panel" id="bottomsheetblock" class="ui-bottom-sheet <strong>ui-bottom-sheet-list</strong>" data-animate="false" data-position='bottom' data-display="overlay"&gt;...&lt;/div&gt;</pre>

				<span class="nd2-subhead">Bottom Sheet Content</span>
				<pre>&lt;div class='<strong>row</strong> around-xs'&gt;
	&lt;div class='<strong>col-xs-auto</strong>'&gt;
		&lt;a href='#' class='<strong>ui-bottom-sheet-link</strong> ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'&gt;
			&lt;i class='zmdi zmdi-assignment zmd-2x'&gt;&lt;/i&gt;
			&lt;strong&gt;Clipboard&lt;/strong&gt;
		&lt;/a&gt;
	&lt;/div&gt;
	&lt;div class='<strong>col-xs-auto</strong>'&gt;
		&lt;a href='#' class='<strong>ui-bottom-sheet-link</strong> ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'&gt;
			&lt;i class='zmdi zmdi-fire zmd-2x'&gt;&lt;/i&gt;
			&lt;strong&gt;Hot Stuff&lt;/strong&gt;
		&lt;/a&gt;
	&lt;/div&gt;
	&lt;div class='<strong>col-xs-auto</strong>'&gt;
		&lt;a href='#' class='<strong>ui-bottom-sheet-link</strong> ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'&gt;
			&lt;i class='zmdi zmdi-cloud-outline-alt zmd-2x'&gt;&lt;/i&gt;
			&lt;strong&gt;Cloud&lt;/strong&gt;
		&lt;/a&gt;
	&lt;/div&gt;
	&lt;div class='<strong>col-xs-auto</strong>'&gt;
		&lt;a href='#' class='<strong>ui-bottom-sheet-link</strong> ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'&gt;
			&lt;i class='zmdi zmdi-format-color-fill zmd-2x'&gt;&lt;/i&gt;
			&lt;strong&gt;Fillcolor&lt;/strong&gt;
		&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>
