
.ui-content {
  padding:0 !important;
}

.row-padding {
  padding: 2% !important;
  }

.topBackground {
  background: #628493 !important;
  color: #fff !important;
}

.whiteBackground {
  background: #FAFAFA !important;
  color: #999;
}


.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border:0;

}

.buttonBitbucket {
  color: #000;
  background: #f27f13;
}

.preview_frame {
    width: 350px;
    height: 550px;
    border: 0px solid #ffffff;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.1);
}
