==
<!DOCTYPE html>
<html>
<head>
    <title>{{ this.page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />


		<link href="{{ ['assets/css/jquery.mobile-1.4.5.min.css']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/css/nativedroid2.css']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/css/flexboxgrid.min.css']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/css/custom.css']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/vendor/waves/waves.min.css']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/vendor/wow/animate.css']|theme }}" rel="stylesheet">
    <link href="{{ ['assets/vendor/chartist/style.css']|theme }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    {% styles %}
    <script src="https://use.fontawesome.com/72bd5a7535.js"></script>
    <script src="{{ [ '@jquery',
    '@framework',
    '@framework.extras', 'assets/js/jquery.min.js', 'assets/js/jquery-ui.min.js', 'assets/vendor/chartist/chartist.min.js', 'assets/vendor/waves/waves.min.js', 'assets/vendor/wow/wow.min.js','assets/js/nativedroid2.js', 'nd2settings.js', 'assets/js/jquery.mobile-1.4.5.min.js']|theme }}"></script>
    {% scripts %}


</head>

<body>
<div data-role="page">

{% partial "panelleft" %}
  <div data-role="panel" id="bottomsheet" data-animate="false" data-position='bottom' data-display="overlay">
    {% partial "bottomsheet" %}
  </div>

  <div data-role="header" data-position="fixed" class="topBackground wow fadeInDown" data-wow-delay="0.2s">
    <a href="#bottomsheet" class="ui-btn ui-btn-right wow fadeIn" data-wow-delay='1.2s'><i class="fa fa-cogs"></i></a>
    <a href="#leftpanel" class="ui-btn ui-btn-left wow fadeIn" data-wow-delay='0.8s'><i class="fa fa-bars"></i></a>
    <h1 class="wow fadeIn" data-wow-delay='0.4s'>October CMS NativeDroid II </h1>
  </div>



      <div role="main" class="ui-content" data-inset="false">
         {% page %}
           {% partial "footer" %}
      </div>

    </div>

</body>
</html>
