title = "home"
url = "/"
layout = "default"
description = "homepage"
meta_title = "HomePage"
is_hidden = 0
==
<div class="row topBackground">
  <div class="col-xs-6 row-padding">
<h1>jQuery Mobile theme in material design</h1>
<h3>OCTOBER CMS NativeDroid2 is a theme using jQuery Mobile with FlexGrid CSS,
  inspired by material design.</h3>
</div>

<div class="col-xs-6">
<img src="http://www.nativedroid.godesign.ch/material/images/mockups/1/front.png" class="img-responsive"/>
</div>
</div>

<center>
<div class="row whiteBackground">
  <div class="col-xs-12 row-padding">
<h1>nativeDroid2 goes material</h1>
<h3>And this is not the only big change. We decided to distribute the source on
   Github and license the theme under the MIT-License. So you can freely use the
    theme for you commercial and private projects.</h3>
    <img src="http://www.nativedroid.godesign.ch/material/images/mockups/subsection_mockups/1.png" class="img-responsive"/>
</div>


<hr />


  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="iconbox_content">
    <h4><i class="fa fa-desktop fa-2x" >	jQueryMobile theme</i></h4>
								<p>nativeDroid<sup>2</sup> is built on top of the jQueryMobile framework.
                  So you will be able to use the theme right out of the box.</p>
							</div>
						</div>


					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="iconbox_content">
						<h4><i class="fa fa-code fa-2x" >	Extra elements</i></h4>
								<p>Upon the basic elements, we have created helper classes and
                   functions to make it even easier to deal with your code.</p>
							</div>
        	</div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="iconbox_content">
            <h4><i class="fa fa-pencil fa-2x" > Material design icons</i></h4>
								<p>Beside of the default fontawesome iconset, nativeDroid2 includes a material design icon-font library to create a native look and feel.</p>
							</div>
						</div>


				</div>

</center>

<div class="row topBackground">

  <div class="col-xs-6">
  <img src="http://www.nativedroid.godesign.ch/material/images/mockups/subsection_mockups/2b.png"class="img-responsive" />
  </div>

  <div class="col-xs-6 row-padding">

  <h2><i class="fa fa-bolt fa-2x">  Basic and accent colors</i></h2>
  <h4>  You can choose from the following color presets; red, pink, purple,
     deep-purple, indigo, blue, light-blue, cyan, teal, green, light-green,
      lime, yellow, amber, orange, deep-orange, brown, grey and blue-grey</h4>
</div>

<hr />

<div class="col-xs-6 row-padding">

<h2>Browse the material way</h2>
<h4>Discover the new features in the live preview on the right. Enjoy the new
  styles of Listviews, Forms, Tables, Buttons and many more.</h4>

  <h4>You can freely use nativeDroid2 in your commercial or private project.<br />
     Its distributed under the MIT-License.</h4>

<h4><a href="#" class="ui-btn  waves-effect waves-button waves-effect waves-button buttonBitbucket"><i class="fa fa-bitbucket"> View on BitBucket</i></a></h4>
</div>

<div class="col-xs-6">
  <center>
<iframe src="http://nd2.godesign.ch/examples/elements/listviews.html" class="preview_frame"></iframe>
</center></div>


</div>


</div>
